@import "index";

$nav-toggler-width: 40px;
$nav-toggler-height: 5px;

header {
  min-height: 100vh;
  width: 100vw;
}

header::before {
  position: absolute;
  content: "";
  background-image: url("../images/background.jpeg");
  opacity: 0.15;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: 5rem;
}

.logo h1 {
  font-size: 2rem;
  font-family: $vogue;
}

nav {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

nav ul {
  display: flex;
  margin-left: 5vw;
  transition: all 0.4s;
}

nav ul li {
  list-style: none;
  // overflow: hidden;
}

.navItems {
  margin: 0rem 0.6rem !important;
  font-size: 0.8rem;
  font-weight: 800;
}

.navItems:hover {
  transition: color 0.4s ease-in-out;
  color: $yellow;
}
.navItemsBtn {
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  width: max-content;
  cursor: pointer;
  background-color: $btnColor;
  padding: 0.3rem;
}

// ======================= Nav Toggler =======================

#nav-toggler {
  position: fixed;
  right: 5vw;
  display: none;
  cursor: pointer;
  z-index: 110;
  > div {
    width: $nav-toggler-width;
    height: $nav-toggler-height;
    background-color: $white;
    border-radius: 1rem;
    border: none;
    transition: all 0.4s ease-in-out;
  }
  > div:nth-child(2) {
    margin: $nav-toggler-height 0;
  }
}

.nav-line-one {
  animation: nav-line-one;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.nav-line-two {
  opacity: 0;
}
.nav-line-three {
  animation: nav-line-three;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.toggle-nav-list {
  height: 100vh !important;
}

@keyframes nav-line-one {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY($nav-toggler-height * 2);
  }
  100% {
    transform: rotate(45deg)
      translate($nav-toggler-height, $nav-toggler-height * 2);
  }
}
@keyframes nav-line-three {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-$nav-toggler-height * 2);
  }
  100% {
    transform: rotate(-45deg)
      translate($nav-toggler-height, -$nav-toggler-height * 2);
  }
}

.carousel {
  text-align: center;
  width: 90vw;
  max-width: 500px;
  margin: auto;
  margin-top: 5em;
}

@media only screen and (max-width: 850px) {
  nav {
    margin: 2rem 0;
  }
  nav ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 0vh;
    overflow: hidden;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, $pink, $blue);
    margin: 0;
    > li {
      margin: 1rem 0;
    }
    z-index: 100;
  }
  #nav-toggler {
    display: block;
  }
}
