@import "index";

.highlightPara {
  color: $yellow;
  font-weight: bold;
}

// ======================== About Us ========================
.outer-container {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1.5rem auto;
}

.card-container,
.img-container {
  max-width: 400px;
  width: 90%;
}
.img-container {
  > h2 {
    color: $pink;
    font-weight: 800;
    text-align: right;
    padding: 0.5rem;
  }
  > img {
    width: 100%;
    object-fit: contain;
  }
}
.card-container {
  min-height: 500px;
  background-color: $pink;
  padding: 5rem 1rem;
  > p {
    text-align: justify;
    margin-bottom: 1rem;
  }
}

.inner-container-reverse {
  .img-container {
    > h2 {
      text-align: left;
      color: $blue;
    }
    order: 2;
  }
  .card-container {
    background-color: $blue;
  }
}

// ======================== News ========================

.home-news-card > img {
  width: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    20% 100%,
    15% 95%,
    10% 100%,
    0 100%
  );
  height: 130px;
}

.home-news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  > h1 {
    color: $yellow;
    font-weight: 900;
  }
  > p {
    max-width: 700px;
    width: 90%;
    text-align: center;
  }
}

.home-news-card {
  width: 300px;
  height: 200px;
  background-color: $white;
  margin: 2rem 1rem;
}

.home-news-card > div {
  height: 70px;
  overflow-y: hidden;
  color: $pink;
  border-bottom: 0.5rem solid #ffffff;
  padding: 0.2rem 0.5rem;
}

.home-news-card:hover {
  background-color: $pink;
  > div {
    color: $white;
    border-bottom-color: $pink;
  }
}

.home-news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

// ======================== Partners ========================
.home-partners {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.home-brands,
.home-partners-info {
  width: 90%;
  max-width: 350px;
  justify-content: center;
}

.home-partners-info {
  padding: 0.5rem;
  > h2 {
    color: $yellow;
    font-weight: 900;
  }
}

.home-brands {
  display: flex;
  > div {
    > img {
      width: 50px;
      height: 50px;
      margin: 0.5rem;
    }
    > p {
      text-align: center;
    }
  }
}

// ======================== Inquiry ========================

.inquiry-outer-container {
  background-color: $white;
  padding: 1rem;
}
.inquiry-inner-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.inquiry-card-container,
.inquiry-form-container {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.inquiry-card-container {
  background-color: $blue;
  align-items: flex-end;
  text-align: right;
  > button {
    margin: 0.5rem 0;
  }
}

.inquiry-form-container {
  > h2 {
    font-weight: 800;
    color: $blue;
    margin-bottom: 2rem;
  }
  > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    > label {
      color: $pink;
      font-weight: 700;
    }
    input,
    textarea {
      border: 0.1rem solid $blue;
      border-radius: 0.3rem;
      width: 100%;
      margin-bottom: 1rem;
    }
    input {
      height: 2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .card-container,
  .img-container,
  .card-container > p {
    max-width: 700px;
  }
  .img-container > h2,
  .card-container > p,
  .inner-container-reverse .img-container h2,
  .inner-container-reverse .card-container,
  .inner-container .card-container {
    text-align: center;
  }
  .card-container {
    padding: 2rem;
  }

  .inner-container {
    flex-direction: column;
    margin: 1rem auto;
  }
  .inner-container-reverse {
    .card-container {
      order: 2;
    }
  }

  .home-partners {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .home-partners-info {
    border-bottom: 0.1rem solid $white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 670px) {
  .home-news-card {
    width: 250px;
  }
}

@media screen and (max-width: 550px) {
  .home-news-card {
    width: 90vw;
  }
}
