@import "index";
.highlightPara {
  color: $yellow;
  font-weight: bold;
}

.cardcontainer {
  align-content: flex-end;
  background-color: $blue;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardcontainer {
  min-height: 500px;
  padding: 5rem 1rem;
  > p {
    text-align: justify;
    margin-bottom: 1rem;
  }
  background-color: $blue;
  align-items: flex-end;
  text-align: right;
}

.incubation-block {
  padding: 4rem 0;
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(to right, darken($pink, 10), $blue);
}

.incubation-outer-section {
  background-color: white;
  align-items: center;
  padding: 3rem 0;
  justify-content: "center";
  margin: 0;
  align-self: center;
  display: "flex";
}

.blank {
  height: 50px;
  background-color: white;
  border: none;
}

.incubate {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 300px;
  flex-wrap: wrap;
  margin: auto;
  background-color: white;
}

.red,
.red > span,
.red > p {
  color: #a22b40;
}

.green,
.green > h3,
.green > span {
  color: #1b5f64;
}

.red > p,
.green > p {
  text-align: center !important;
}

.redpara {
  color: #df1a3e;
  padding: 12px 0px 12px 10px;
  font-style: bold;
  text-align: justify;
  width: 100%;
  font-size: 1rem;
}

.incubationCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  > img {
    width: 9vw;
    height: 9vw;
  }
}

.eligibilty-list {
  list-style-type: none;
  background-color: $blue;
  color: $white;
  padding: 6%;
  font-size: 15px;
  font-style: bold;
  border: none;
}

.yellow {
  background-color: $blue;
  color: yellow;
  font-style: bold;
  padding: 2%;
}

.blue {
  background-color: $white;
  color: $blue;
  font-style: bold;
  padding-left: 2%;
}

.paracontainer {
  background-color: $white;
}

.incubation-txt {
  max-width: 1000px;
  font-weight: 500;
  text-align: justify;
  margin: auto;
  color: $blue;
  width: 90vw;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  list-style-type: none;
}

.incubation-outer-container {
  background-color: $white;
  padding: 1rem;
}

.incubation-inner-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.incubation-container {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.paragraph {
  color: $blue;
  margin: auto;
  background-color: $white;
  align-items: center;
  text-align: center;
  min-height: 40vh;
  width: 50%;
  font-weight: 300;
}

.imageContainer {
  background-image: url("../images/image1.jpeg");
  align-items: center;
  opacity: 0.1;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 80vh;
}

.btn {
  opacity: 1;
  z-index: 2;
  margin: auto;
  padding: 25px;
}

.applyButton {
  margin: auto;
  padding: auto;
}

.eligibilty-list {
  margin: 12% 0%;
  text-align: right;
}

@media screen and (max-width: 780px) {
  .cardcontainer {
    text-align: center;
    align-items: center;
  }
  .redpara {
    max-width: 700px;
    width: 90%;
    justify-content: center;
    text-align: center;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin: auto;
    padding: 3%;
  }
  .news {
    height: fit-content;
  }
  .news {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 45vh;
  }
  .incubationCard > h3 > span {
    justify-content: center;
    text-align: center;
    color: $pink;
  }
  .paragraph {
    width: 80%;
    justify-content: center;
    text-align: center;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin: auto;
    padding: auto;
  }
  .incubation-txt {
    max-width: 700px;
    width: 80%;
    max-width: 440px;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}
