// @import "~bootstrap/scss/bootstrap";

// ======================= Variables =========================

$white: #ffffff;
$pink: #ca3650;
$blue: #1b5f64;
$yellow: #eac720;
$btnColor: #eac82080;
$mont: "Montserrat", sans-serif;
$vogue: "Vogue", sans-serif;
$text: #eb349b;

// ======================= Variables End =========================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

textarea:focus,
input:focus {
  font-family: $mont;
  outline: none;
}

body {
  background: linear-gradient(to right, $blue, darken($pink, 10));
  color: $white;
  font-family: $mont;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $white;
}

.btn {
  padding: 0.3rem 0.5rem;
  background-color: $btnColor;
  border-radius: 0.3rem;
  width: max-content;
  border: none;
  cursor: pointer;
  color: $white;
}
.btn:hover {
  transition: all 0.4s ease-in-out;
  background-color: darken($btnColor, 20);
}

.active {
  color: $yellow;
}

::-webkit-scrollbar {
  // background: linear-gradient(to bottom, $pink, $blue);
  background: $pink;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $white;
}
