@import "index";
.highlightPara {
  color: $yellow;
  font-weight: bold;
}

.containerL div {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mentcont {
  min-height: 500px;
  padding: 5rem 1rem;
  > p {
    text-align: justify;
    margin-bottom: 0.5rem;
  }
}

.block {
  height: 8rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem;
}

.news {
  align-items: center;
  justify-content: center;
  height: 115vh;
}

.mentor-txt {
  padding: 50px;
  width: 50%;
  text-align: center;
}

.red,
.red > span,
.red > p {
  color: #a22b40;
}

.green,
.green > h3,
.green > span {
  color: #1b5f64;
}

.newsCard {
  border-radius: 100%;
  height: 9vw;
  width: 9vw;
  margin: 30px;
}

.newsCard > img {
  border-radius: 100%;
  height: 9vw;
  width: 9vw;
}

.news h1 {
  color: $yellow;
}

.news p {
  width: 40rem;
  justify-content: center;
}

.news > div {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.newsCard {
  height: 15vw;
  background-color: $white;
}

.newsCard > img {
  width: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    20% 100%,
    15% 95%,
    10% 100%,
    0 100%
  );
  height: 10vw;
}

.newsCard > div {
  height: 4vw;
  justify-content: center;
  color: $pink;
}

@media screen and (max-width: 700px) {
  .mentor-txt {
    max-width: 700px;
    justify-content: center;
    text-align: center;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

  .news {
    height: fit-content;
  }

  .news {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 45vh;
  }

  .newsCard > h3 > span {
    justify-content: center;
    text-align: center;
    color: $pink;
  }
}

@media screen and (max-width: 700px) {
  .mentor-txt {
    max-width: 440px;
    justify-content: center;
    text-align: center;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

  .news {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
}
