#to-top-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.247);
  display: grid;
  place-items: center;
  border: none;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 100;
  > svg {
    height: 70%;
    width: 70%;
    color: #fff;
  }
}

.show-btn {
  opacity: 1;
  visibility: visible;
}

.hide-btn {
  visibility: hidden;
  opacity: 0;
}

// @media screen and (max-width: 500px) {
//   #top-to-bottom {
//     bottom: 0.5rem;
//     right: 0.5rem;
//   }
// }
